/* battery level */

.battery-level {
    @apply flex items-center text-sm;

    .battery-progress-bar {
        @apply relative border-2 border-gray-700 flex grow rounded-sm mr-2;
        margin-right: 8px;
        height: 12px;
        width: 20px;

        &:after {
            @apply absolute border-l-0 border-2 border-gray-700 block;
            content: "";
            top: 50%;
            margin-top: -4px;
            right: -5px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            width: 4px;
            height: 8px;
        }

        > div {
            @apply bg-gray-700;
        }
    }
}
